<div class="row mt-3">
    {{#each alphabets}}
        <div class="col mb-3"> 
            <form action="/books" method="get">
                <button class="btn btn-success" type="submit" name="startLetter" value="{{this}}" >{{this}}</button>
            </form>
        </div> 
    {{/each}}

</div>







   
        
        
        
       
        
    
