
<form action="/books" method="get">
    <div class="d-flex row mb-5 justify-content-between">
        {{#each alphabets}}
        
        <button class="btn btn-info" type="submit" name="startLetter" value="{{this}}" >{{this}}</button>
       
        {{/each}}
    </div>

</form>